
body {
	margin:0;
}

#viewport {
	width:1024px;
	height:768px;
	
}

#debug
{
	position: absolute;
	top:10px;
	left:10px;
	color:red;
}

.step {
	width:1024px;
	height:768px;
	border:1px solid black;
	position: absolute;
	top:0;
	left:0;
}

td {
	border:1px solid black;
	width:100px;
	height:80px;
	text-align:center;
}

td.empty {
	border:none;
}

nav {
	z-index:1;
	position: absolute;
	top:744px;
	left:0px;
}

nav a {
	display: inline-block;

	height:24px;
	width:100px;
	text-align: center;
	text-decoration:none;

	border:1px solid black;
	border-radius:5px;
}

#intro p{
	width:350px;
	height:200px;
	float:left;
	
	margin-left:50px;
	border:1px dotted black;
}

/* source : http://www.russellbeattie.com/blog/creating-an-ipad-like-dropdown-menu-in-html5 */

#etudes_menu{
    position: absolute;
    left: -1000px;
    background-color: #fff;
    padding: 20px 0px 0px;
    background: -webkit-canvas(menu_background) no-repeat;
    -webkit-transition: opacity 300ms ease-out;

    z-index:1;
}

#etudes_menu a{
    display: block;
    margin: 7px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    background: -webkit-gradient(linear, 0% 50%, 0% 51%, from(#fff), to(#edeff3));
        text-decoration: none;
    color: inherit;
}

.hide { 
    opacity: 0; 
}

.show {
    opacity: 1;  
}